@import "tailwindcss";

@layer base {
  :root {
    --background-color: #23153c;
    --text-color: #e2e8f0;
    --primary-color: #3b82f6;
    --font-family: "Inter", sans-serif;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
  }
}
